#about {
  margin-bottom: 120px;
}

.about-title {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  text-wrap: balance;
  margin-bottom: 50px;
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px);
  grid-auto-rows: 306px;
  justify-content: center;
  gap: 60px 150px;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  width: 310px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--slider-grey, rgb(0 0 2 / 35%));
  transition: all 0.3s ease;
}

.card-container:hover {
  /* box-shadow: 0 0 14px 4px rgb(0 0 2 / 35%); */
  box-shadow: var(--app-download-shadow);
}

.card-container:hover .card-icon {
  transform: scale(0.95);
}

.img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 130px;
  overflow: hidden;
  border-radius: 40px;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 122px;
  width: 65px;
  height: 65px;
  background: rgba(251, 188, 5, 0.5);
  border-radius: 18px 5px 10px 5px;
  transform: rotate(-180deg);
  z-index: -1;
  transition: border-radius 0.5s 0.3s;
}

.card-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  transition: 0.5s;
}

.card-icon:hover {
  transform: scale(0.95);
}

.card-bottom {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 19px;
  align-items: center;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-wrap: balance;
  opacity: 0.8;
}

.card-text {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-wrap: balance;
  margin-top: 10px;
}
