#banner-section {
  padding: 0 24px;
  height: fit-content;
}

#banner-section .container {
  display: flex;
  align-items: center;
}

#banner-section .bg {
  height: 300px;
  background: rgb(237, 232, 232);
  border-radius: 8px;
}

#banner-section .right-side {
  flex-shrink: 0;
}

.banner-img {
  margin-top: 55px;
  width: 95%;
}

#banner-section .banner-title,
#banner-section .banner-text {
  margin-left: 10px;
}

.banner-title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
  text-wrap: balance;
}

#banner-section .banner-text {
  margin-bottom: 30px;
  font-size: 20px;
  text-wrap: balance;
}

@media screen and (max-width: 1090px) {
  #banner-section .right-side,
  #banner-section .left-side {
    flex-basis: 50%;
    justify-content: center;
  }
}

@media screen and (max-width: 899px) and (min-width: 768px) {
  #banner-section .right-side {
    flex-basis: 50%;
  }

  /* .banner-img {
    margin-top: 100px;
    margin-bottom: auto;
    height: auto;
    max-width: 100%;
  } */

  #banner-section .banner-title {
    font-size: 28px;
  }

  #banner-section .banner-text {
    font-size: 18px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  #banner-section .right-side {
    display: none;
  }

  #banner-section .bg {
    width: 100%;
    height: max-content;
    padding: 20px 30px;
  }

  #banner-section .container {
    flex-direction: column;
    justify-content: center;
  }

  .subscribe-title {
    font-size: clamp(1.5625rem, 0.7124rem + 4.2506vw, 2.75rem);
  }

  #banner-section .banner-title {
    font-size: 26px;
  }

  #banner-section .banner-text {
    font-size: 18px;
  }
}
