/* Base */
:root {
  --color-primary-light: #fbbc05;
  --banner-bg-grey: #e7eaee;
  --slider-grey: #ced6e0;
  --slider-shadow: rgb(0 0 2 / 35%) 0px 20px 30px -10px;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

div[role="button"] {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
