/* Base */
:root {
  --color-primary-light: #fbbc05;
  --color-secondary-light: rgba(251, 188, 5, 0.2);
  --color-primary-transparent: rgba(251, 188, 5, 0.5);
  --banner-bg-grey: #e7eaee;
  --slider-grey: #ced6e0;
  --slider-shadow: rgb(0 0 2 / 35%) 0px 20px 30px -10px;
  --app-download-shadow: 0px 4px 4px 0px #00000040;
  --color-bg-footer: rgb(237, 232, 232);
  --hamburger-shadow: rgba(0, 0, 0, 0.3);
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

div[role="button"] {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1288px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 24px;
}
