#contacts {
  display: flex;
  justify-content: center;
  padding: 0 24px;
}

#contacts .container-header {
  padding: 55px 60px 50px 60px;
  border-radius: 45px 45px 0px 0px;
  background: var(--color-bg-footer);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top-footer {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  width: 100%;
}

.middle-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0;
  gap: 50px;
  width: 100%;
}

.middle-footer .subscribe-footer {
  width: 65%;
}

.subscribe-footer .input-wrapper {
  gap: 20px;
  width: 100%;
}

.subscribe-footer .input-email {
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.contacts p {
  font-size: 14px;
}

.subscribe-footer {
  display: flex;
  border: 30px solid white;
  background: white;
  border-radius: 14px;
}

.bottom-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 0 0;
  border-top: 1px solid black;
}

.bottom-footer p {
  padding-top: 10px;
  font-weight: 200;
  font-size: 14px;
}

@media screen and (max-width: 1090px) {
}

@media screen and (max-width: 899px) and (min-width: 768px) {
}

@media (max-width: 767px) and (min-width: 320px) {
  #contacts .logo-container {
    width: auto;
  }

  .middle-footer .contacts {
    display: none;
  }

  .logo-container .contacts {
    display: block;
  }

  .middle-footer .subscribe-footer {
    width: fit-content;
  }
}
