/* header */
.logo {
  width: 150px;
  height: 150px;
}

header {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 1288px;
  padding: 0 25px;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu-list {
  display: flex;
  gap: 20px;
}

.menu-link {
  background: linear-gradient(currentColor, currentColor) 50% 100% no-repeat;
  background-size: 0 2px;
  transition: background 0.5s ease 0s;
  padding-bottom: 10px;
}

.menu-link:hover {
  background-size: 100% 2px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.login-icon {
  fill: white;
  transform: rotate(280deg) scaleX(-1);
}

.logo-container p {
  font-weight: 800;
  font-size: 40px;
  /* padding-top: 90px; */
}

.opacity {
  opacity: 0.8;
}

.highlighted {
  color: var(--color-primary-light);
}

@media screen and (max-width: 1090px) {
  .logo-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 899px) and (min-width: 768px) {
  .logo-container {
    flex-direction: column;
    max-width: fit-content;
    align-items: flex-start;
    width: 100%;
  }
  .logo-container p {
    font-size: clamp(2.1875rem, 1.25rem + 1.6667vw, 2.5rem);
  }

  .menu {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  .logo-container p {
    font-size: clamp(1.875rem, 1.4276rem + 2.2371vw, 2.5rem);
  }

  .logo-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .menu-list {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    gap: 20px;
  }
}
