/* header */
.logo {
  width: 150px;
  height: 150px;
}

header {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 1288px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu-list {
  display: flex;
  gap: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container p {
  font-weight: 800;
  font-size: 40px;
  /* padding-top: 90px; */
}

.opacity {
  opacity: 0.8;
}

.highlighted {
  color: var(--color-primary-light);
}
