#subscribe-email .container {
  display: flex;
  justify-content: space-between;
}

#subscribe-email .app-list {
  gap: 0;
}

.subscribe-title {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.5;
  margin: 60px 0 10px 0;
}

.subscribe-text {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 40px;
}

.subscribe-item-img {
  width: 45px;
  height: 45px;
  background-color: var(--color-secondary-light);
  border-radius: 50%;
  border-image-width: 60px;
  padding: 10px;
  overflow: visible;
}

.subscribe-item-content {
  margin-top: 10px;
}

.subscribe-item-content p {
  font-size: 16px;
}

.subscribe-img {
  margin-right: -25px;
}

.input-email {
  border-radius: 30px;
  width: 100%;
  height: 60px;
  border: 1px solid var(--slider-grey);
  /* box-shadow: var(--slider-shadow); */
  box-shadow: var(--app-download-shadow);
  text-indent: 40px;
  padding-right: 60px;
}

.input-email:focus {
  outline-color: var(--color-primary-transparent);
}

.input-wrapper {
  position: relative;
  max-width: 100%;
  min-width: 400px;
}

.input-wrapper .input-btn {
  background: var(--color-primary-light);
  border-radius: 50px;
  aspect-ratio: 1;
  height: 80%;
  position: absolute;
  top: 10%;
  right: 5px;
  border: none;
}

.input-btn .subscribe-input-icon {
  fill: white;
  position: absolute;
  z-index: 3;
  top: 12px;
  left: 12px;
  z-index: 2;
}

.title-wrapper {
  display: flex;
}

/* hide placeholder */

.input-email::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input-email::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input-email:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input-email:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input-email:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.input-email:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.input-email:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.input-email:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 1096px) {
  #subscribe-email .right-side,
  #subscribe-email .left-side {
    flex-basis: 50%;
    justify-content: center;
  }
}

@media screen and (max-width: 899px) and (min-width: 768px) {
  #subscribe-email .right-side {
    flex-basis: 50%;
  }

  .subscribe-img {
    margin-top: 100px;
    margin-bottom: auto;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  #subscribe-email .right-side {
    display: none;
  }

  #subscribe-email .container {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-title {
    font-size: clamp(1.5625rem, 0.7124rem + 4.2506vw, 2.75rem);
  }
}

@media (max-width: 500px) and (min-width: 320px) {
  .input-wrapper {
    position: relative;
    max-width: 100%;
    min-width: 300px;
  }
}
